from flask import Flask, jsonify
import os, sys
sys.path.append(os.path.dirname(os.path.dirname(os.path.abspath(__file__))))
from foundation.foundation import Foundation

class APIEndpoint(Foundation):
    def run(self):
        app = Flask(__name__)
        app.add_url_rule("/{{ endpoint_name }}", view_func=self.{{ endpoint_name }}_handler)

        self.logger.info(f"Starting API endpoint: /{{ endpoint_name }}")
        app.run(host="0.0.0.0", port=5000)

    def {{ endpoint_name }}_handler(self):
        self.logger.info("Handling API request.")
        return jsonify({"message": "Hello from /{{ endpoint_name }}"})

if __name__ == "__main__":
    service = APIEndpoint(service_name="{{ endpoint_name }}")
    service.serve(service.run)
